@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital,wght@0,500;1,500&family=Ubuntu:ital@0;1&display=swap');
.container{
    position: fixed;
    background-color: #ffa801;
    width: 100vw;
    height: 10vh;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 0 0 10px 10px;
}
.nav--titleText{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 20px;
    padding: 0;
    text-align: left;
    line-height: 10vh;
    font-family: 'inter', sans-serif;
}