@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400,500,800;1,300&display=swap');
.nav--container{
    position: fixed;
    width: 100vw;
    height: 12vh;
    color: black;
    display: flex;
    padding: 0px;
    flex-direction: column;
}
.nav--titleText{
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.nav--title{
    display: flex;
    width: 100vw;
}
.navhr{
    height: 100px;
    width: 100vw;
    background-color: black;
    z-index: 1;
    margin-bottom: 1000px;
    margin-top: 1000px;
}